---
import '../styles/global.css';
import Navbar from '../components/Navbar';
import WhatsappButton from '../components/WhatsappButton';
import Footer from '../components/Footer';

interface Props {
  title: string;
  description?: string;
  image?: string;
  url?: string;
  type?: string;
  keywords?: string;
  showFooter?: boolean;
  showNavbar?: boolean;
}

const {
  title,
  description,
  image,
  url,
  type,
  keywords,
  showFooter = true,
  showNavbar = true
} = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    <link rel="canonical" href={canonicalUrl} />
    <title>{title}</title>
    {title && <meta property="og:title" content={title} />}
    {description && <meta property="og:description" content={description} />}
    {image && <meta property="og:image" content={image} />}
    {url && <meta property="og:url" content={url} />}
    {type && <meta property="og:type" content={type} />}
    <meta property="og:site_name" content="BetyDecor" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    {showNavbar && <WhatsappButton client:load />}
    {showNavbar && <Navbar client:load />}
    <slot />
    {showFooter && <Footer client:load />}
  </body>
</html>
